extends layout 

block content 
    h1 Under Construction!
    p Here's everything I found:
    each entry in data
        div
            -
                var subtitle = ""
                if(entry.name === "") {
                    subtitle = entry.id
                } else {
                    subtitle = entry.id + ' - ' + entry.name
                }
            a(href="xc3/" + entry.id)= subtitle