extends layout

block content
    h1 Xenoblade Chronicles 3 Party Builder
    - var list = ["noah", "mio", "eunie", "taion", "lanz", "sena"]


    form(action='/xc3', method='POST')
        p 
            | Party Name: 
            input(type='text', name='partyName', placeholder="Enter party name...")

        div(class="tab")
            button(class="tablinks" onclick="openTab(event, 'Noah')") Noah
            button(class="tablinks" onclick="openTab(event, 'Mio')") Mio
            button(class="tablinks" onclick="openTab(event, 'Eunie')") Eunie
            button(class="tablinks" onclick="openTab(event, 'Taion')") Taion 
            button(class="tablinks" onclick="openTab(event, 'Lanz')") Lanz
            button(class="tablinks" onclick="openTab(event, 'Sena')") Sena 
            button(class="tablinks" onclick="openTab(event, 'Hero')") Hero

        each name in list
            div(id=name[0].toUpperCase() + name.substring(1) class="tabcontent")
                p 
                    | Class: 
                    select(name= name + 'Class')
                        each c in classes
                            option(value=c.name)=c.name 
                p 
                    | Class Arts: 
                p(class="indented")
                    
                    input(type='text', name= name + 'ClassArtOne')
                p(class="indented") 
                    input(type='text', name= name + 'ClassArtTwo')
                p(class="indented")
                    input(type='text', name= name + 'ClassArtThree')
                p 
                    | Master Arts: 
                p(class="indented")
                    input(type='text', name= name + 'MasterArtOne')
                p(class="indented")
                    input(type='text', name= name + 'MasterArtTwo')
                p(class="indented")
                    input(type='text', name= name + 'MasterArtThree')
                p 
                    | Talent Art: 
                    input(type='text', name= name + 'TalentArt')
                p 
                    | Master Skills: 
                p(class="indented")
                    input(type='text', name= name + 'MasterSkillOne')
                p(class="indented")
                    input(type='text', name= name + 'MasterSkillTwo')
                p(class="indented")
                    input(type='text', name= name + 'MasterSkillThree')
                p 
                    | Accessories: 
                p(class="indented")
                    input(type='text', name= name + 'AccessoryOne')
                p(class="indented")
                    input(type='text', name= name + 'AccessoryTwo')
                p(class="indented")
                    input(type='text', name= name + 'AccessoryThree')
                p 
                    | Gems: 
                p(class="indented")
                    input(type='text', name= name + 'GemOne')
                p(class="indented")
                    input(type='text', name= name + 'GemTwo')
                p(class="indented")
                    input(type='text', name= name + 'GemThree')


        div(id="Hero" class="tabcontent")
            p 
                | Hero: 
                select(name='heroName')
                    each h in heroes
                        option(value=h.name)=h.name 
            p 
                | Hero Arts: 
            p(class="indented")
                input(type='text', name='heroArtOne')
            p(class="indented")
                input(type='text', name='heroArtTwo')
            p(class="indented")
                input(type='text', name='heroArtThree')
            p 
                | Hero Accessories: 
            p(class="indented")
                input(type='text', name='heroAccessoryOne')
            p(class="indented")
                input(type='text', name='heroAccessoryTwo')
            p(class="indented")
                input(type='text', name='heroAccessoryThree')
            
        input(value='Submit', type='Submit')
    
    script.
        function openTab (evt, cityName) {
            
            evt.preventDefault();

            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }