extends layout 

block content 
    p1 testing
    
    select(name="meleeWeapon" id="meleeWeapon" onchange="myFunction(this)")
        option(selected hidden disabled) select weapon
        option(value="longsword") Longsword 
        option(value="placeholder") Placeholder
    
    select(name="changeme" id="changeme")
    
    script.
        function myFunction(object) {
            var value = object.value
            console.log(value)
            if (value === "longsword") {
                var data = ['lsart1', 'lsart2']
            } else {
                var data = ['part1', 'part2']
            }
            addDataToSecondOne(data)
        }

        function addDataToSecondOne (data) {
            var change = document.getElementById('changeme')
            change.innerHTML = "";
            data.forEach((i) => {
                var option = document.createElement('option')
                var text = document.createTextNode(i)
                option.appendChild(text)
                change.appendChild(option)
            });
        }